@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
    box-sizing: border-box;
}

html {
    background: url("../img/bg.png") top left repeat;
}

body {
    font-family: 'Varela Round', sans-serif;
}

header, footer {
    height: 120px;
    padding: 20px;
    box-sizing: border-box;
}

main {
    padding-top: 40px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background: #fff;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container::after {
    display: block;
    content: '';
    clear: both;
}

nav a, input, button, textarea, .button-list a {
    border-radius: 5px;
    border: 1px solid #3e9cd6;
    padding: 5px 10px;
    color: #3e9cd6;
    transition: 0.2s;
}

nav a, button {
    text-transform: uppercase;
    font-weight: bold;
}

.button-list a {
    display: inline-block;
}
nav a:hover {
    background: #fff;
    border-color: #fff;
    color: #0c2c60;
}

li.hello {
    color: #fff;
}

li.hello a {
    border: none;
    padding: 0;
    text-transform: none;
}

li.hello a:hover {
    text-decoration: underline;
    background: none;
    color: #3e9cd6;
}

button:hover, .button-list a:hover {
    background: #0c2c60;
    border-color: #0c2c60;
    color: #fff;
}

input:focus, textarea:focus {
    border-color: #0c2c60;
    background: #edf2f9;
}

h1 {
    text-align: center;
    font-size: 52px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

form {
    width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    text-transform: uppercase;
    color: #aaa;
    font-size: 16px;
    margin-bottom: 2px;
}

input, button, textarea {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

button {
    padding: 12px 20px;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.2)
}

.logo {
    float: left;
    margin-top: 2px;
}

.logo a {
    display: block;
    background: url("../img/logo.png");
    width: 235px;
    height: 71px;
    text-indent: -300em;
    overflow: hidden;
}

nav {
    float: right;
    padding-top: 30px;
}

nav li {
    display: inline-block;
    margin-left: 10px;
}

.poster {
    width: 600px;
    height: 600px;
    background-position: top center;
    background-size: 600px auto;
    border-radius: 50% 0 50% 50%;
    float: left;
    margin-right: 50px;
}

.movie-info {
    width: 500px;
    float: left;
}

.movie-info * {
    text-align: left;
}

.movie-info h1 {
    margin-bottom: 10px;
}

.movie-info p {
    color: #3e9cd6;
    font-size: 18px;
    margin-bottom: 20px;
}

.movie-info button {
    display: inline-block;
    padding: 8px;
    width: auto;
    color: #aaa;
    border-color: #aaa;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 25px;
}
.movie-info button:active {
    padding: 6px;
    margin: 2px;
}

.movie-info button.selected {
    border-color: #97bb57;
    background: #97bb57;
    color: #fff;
}
.movie-info button.selected:hover {
    background-color: #c5e095;
    border-color: #c5e095;
}

.movie-info button:focus {

}

.movie-info button i {
}
.movie-info button span {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.movie-info div {
    color: #0c2c60;
}

.movie-info div a {
    color: inherit;
}

.movie-info div a:hover {
    text-decoration: underline;
}

.button-list li {
    display: inline-block;
}

.movie-info h2 {
    margin: 10px 0;
}

.container > h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.one-item {
    width: 50%;
    float: left;
    padding: 10px;
}
.one-item:hover {
    background-color: #edf2f9;
    cursor: pointer;
    border-radius: 150px 0 150px 150px;
}

.one-item h1 {
    font-size: 26px;
}
.one-item .poster {
    width: 200px;
    height: 200px;
    background-size: 200px auto;
    margin-right: 20px;
}

.one-item .movie-info {
    width:  340px;
}