<div class="poster"
     style="background-image: url({{poster}});"></div>
<div class="movie-info">
    <h1>{{title}}</h1>
    <button><i class="fas fa-star"></i><span>favorites</span></button>
    <button class="selected"><i class="fas fa-play-circle"></i><span>watchlist</span></button>
    <p>{{description}}</p>
    <h2>Faved by</h2>
    <ul class="button-list">
        {{#favedBy}}
        <li><a href="">{{favedPerson}}</a></li>
        {{/favedBy}}
    </ul>
    <h2>To be watched by</h2>
    <ul class="button-list">
        {{#watchedBy}}
        <li><a href="">{{watchedPerson}}</a></li>
        {{/watchedBy}}
    </ul>
</div>
    